<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link type="text/css" href="{% static 'css/task4.css' %}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{% static "img/Logo_vektor.ico" %}" type="image/x-icon">

  <title>{% block title %} 4 {% endblock %}</title>
</head>

<body>

  {% block content %}
  <main class="main">
    <h2 id="header">ВЄлосІпЄдІст&#128517;<br>Помішаний на велосипедах і електротранспорті</h2>
    <h4 id="goal">Набери 200 балів (Як на ЗНО)</h4>
  </main>
  <div id="score_div">
      Score: <span id="score">0</span>
  </div>
    <div id="container">
        <div id="line_1" class="line"></div>
        <div id="line_2" class="line"></div>
        <div id="line_3" class="line"></div>
        <div id="bike" class="bike">
            <div class="f_light_bike"></div>
        </div>
        <div id="car_1" class="car">
            <div class="f_glass"></div>
            <div class="b_glass"></div>
            <div class="f_light_l"></div>
            <div class="f_light_r"></div>
            <div class="f_tyre_l"></div>
            <div class="f_tyre_r"></div>
            <div class="b_tyre_l"></div>
            <div class="b_tyre_r"></div>
        </div>
        <div id="car_2" class="car">
            <div class="f_glass"></div>
            <div class="b_glass"></div>
            <div class="f_light_l"></div>
            <div class="f_light_r"></div>
            <div class="f_tyre_l"></div>
            <div class="f_tyre_r"></div>
            <div class="b_tyre_l"></div>
            <div class="b_tyre_r"></div>
        </div>
        <div id="car_3" class="car">
            <div class="f_glass"></div>
            <div class="b_glass"></div>
            <div class="f_light_l"></div>
            <div class="f_light_r"></div>
            <div class="f_tyre_l"></div>
            <div class="f_tyre_r"></div>
            <div class="b_tyre_l"></div>
            <div class="b_tyre_r"></div>
        </div>
        <div id="restart_div">
            <button id="restart">
                Start<br>
                <small class="small_text">(управління стрілочками)</small>
            </button>
        </div>
    </div>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/game4.js' %}"></script>
{% endblock %}
</body>

</html>
