body::before {
  content: '';
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: url('../img/road.JPG') center / cover no-repeat;
  filter: blur(3px);
  z-index: -1;
}
body {
  font-family: 'Press Start 2P';
  font-size: 90%;
}

.text {
  margin: 2%;
  background: rgba(0, 0, 0, .5);
  padding: 1%;
  color: rgb(235, 235, 235);
  border-radius: 20px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 30px;
  font-weight: 600;
}
b {
  color: yellow;
  font-style: italic;
  font-weight: 100;
}
.field {
  margin: 0 auto;
}
textarea {
  margin: 3vh auto;
  padding: 2vw;

  height: 45vh;
  width: 85%;
  max-width: 90%;
  min-width: 80%;

  font-family: 'Ubuntu', sans-serif;

  background-color: inherit;
  border: 1px solid yellow;
  border-radius: 10px;
  color: white;
  font-size: 130%;
}
textarea::placeholder {
  color: white;
}
button {
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid yellow;
  width: 30%;
  height: 5vh;
  background: rgba(0, 0, 0, .3);
  color: yellow;
  font-family: 'Press Start 2P', cursive;
}
.menu {
	margin-top: 8vh;
  padding: 5%;
	padding-bottom: 0;
}
.menu button {
	font-family: 'Ubuntu', sans-serif;
	font-size: 110%;
	color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
	height: 5vh;
  width: 40vh;
	background: rgba(155, 160, 168, .2);
}
@media screen and (max-width: 480px) {
  body {
    font-size: 90%;
  }
  .menu-list{
		margin-top: 5%;
    height: 6vh;
	}
  .text {
    letter-spacing: 1px;
    line-height: 20px;
  }
}
