body::before {
  content: '';
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: url('../img/t1.jpg') center / cover no-repeat;
  filter: blur(8px);
  z-index: -1;
}
body {
  font-family: 'Press Start 2P', cursive;
  font-size: 100%;
}
.text {
  margin: 2%;
  padding: 1%;
  color: rgb(0, 255, 0);
  text-align: center;
  letter-spacing: 2px;
  line-height: 30px;
}
b {
  color: yellow;
  font-style: italic;
  font-weight: 100;
}
.field {
  margin: 0 auto;
}
textarea {
  margin: 3vh auto;
  padding: 2vw;

  height: 50vh;
  width: 85%;
  max-width: 90%;
  min-width: 80%;

  font-family: 'Ubuntu', sans-serif;

  background-color: inherit;
  border: 1px solid yellow;
  border-radius: 10px;
  color: white;
  font-size: 130%;
}
textarea::placeholder {
  color: white;
}
button {
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid yellow;
  width: 30%;
  height: 5vh;
  background: rgba(0, 0, 0, .3);
  color: yellow;
  font-family: 'Press Start 2P', cursive;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 90%;
  }
  .menu-list{
		margin-top: 5%;
    height: 6vh;
	}
  .text {
    letter-spacing: 1px;
    line-height: 20px;
  }
}
